# Tree view
'.platform-darwin:not(.atom-text-editor.vim-mode-plus.insert-mode)':
  'space f t': 'tree-view:toggle-focus'

'.platform-darwin .tree-view':
  's': 'tree-view:open-selected-entry-down'
  'S': 'tree-view:open-selected-entry-up'
  'v': 'tree-view:open-selected-entry-right'
  'V': 'tree-view:open-selected-entry-left'
  'space w l': 'tree-view:unfocus'

# Workspace
'.platform-darwin atom-workspace':
  'shift-cmd-T': 'pane:reopen-closed-item'

# Git Diff
'.github-FilePatchView':
  'd': 'github:discard-selected-lines'
  'f': 'github:toggle-patch-selection-mode'
  'j': 'github:select-next-hunk'
  'k': 'github:select-previous-hunk'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-cmd-k': 'editor:move-line-up'
  'ctrl-cmd-j': 'editor:move-line-down'
  'space c l': 'editor:toggle-line-comments'

  # Panes
  'space w g r': 'golden-ratio:toggle'
  'space w h': 'window:focus-pane-on-left'
  'space w l': 'window:focus-pane-on-right'
  'space w j': 'window:focus-pane-below'
  'space w k': 'window:focus-pane-above'
  'space w s': 'pane:split-down'
  'space w S': 'pane:split-up'
  'space w v': 'pane:split-right'
  'space w V': 'pane:split-left'

  # Git
  'space g s': 'git-plus:status'
  'space g a': 'git-plus:add'
  'space g c': 'git-plus:commit'
  'space g l': 'git-plus:pull'
  'space g p': 'git-plus:push-set-upstream'
  'space g d': 'github:view-unstaged-changes-for-current-file'
  'space g C': 'git-plus:checkout'
  'space g C o': 'git-plus:checkout-current-file'
  'space g B': 'git-plus:new-branch'
  'space g b': 'blame:toggle'

  # Github
  'space g h r': 'open-on-github:repository'
  'space g h i': 'open-on-github:issues'
  'space g h p': 'open-on-github:pulls'

  # Project Plus
  'space p o': 'project-plus:toggle-project-finder'
  'space p s': 'project-plus:save'
  'space p r': 'project-plus:remove'
  'space p n': 'project-plus:open-next-recently-used-project'
  'space p p': 'project-plus:open-previous-recently-used-project'

  # Fuzzy finder
  'space p f': 'fuzzy-finder:toggle-file-finder'
  'space p b': 'fuzzy-finder:toggle-buffer-finder'

  # Terminal Plus
  # 'space t': 'terminal-plus:toggle'
  # 'space t a': 'terminal-plus:new'
  # 'space t h': 'terminal-plus:prev'
  # 'space t l': 'terminal-plus:next'
  # 'space t q': 'terminal-plus:close'

'atom-text-editor.vim-mode-plus:not(.insert-mode)[data-grammar~="todo"]':
  # Tasks
  'space o a': 'tasks:add'
  'space o A': 'tasks:add-above'
  'space o x': 'tasks:complete'
  'space o X': 'tasks:archive'
  'space o c': 'tasks:cancel'
  'space o t': 'tasks:set-timestamp'
  'space o c t': 'tasks:convert-to-task'

'atom-text-editor.vim-mode-plus.normal-mode':
  ':': 'ex-mode:open'
  '!': 'ex-mode:toggle-setting'
