"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    use:
      "atom-ide-terminal": "never"
  "atom-ternjs":
    useSnippets: true
  "city-lights-ui":
    fontSize: 12
  core:
    disabledPackages: [
      "linter"
      "linter-ui-default"
      "ide-yaml"
      "ide-go"
    ]
    projectHome: "/Users/vladimirs/Projects"
    telemetryConsent: "limited"
    themes: [
      "city-lights-ui"
      "cuttlesoft-syntax"
    ]
    titleBar: "hidden"
    useTreeSitterParsers: true
  "cuttlesoft-syntax": {}
  editor:
    fontFamily: "Dank Mono, Monaco"
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "16d49337-1766-435c-b7a6-5ec8aa0aa82f"
  "golden-ratio": {}
  "linter-ui-default":
    panelHeight: 132
  "nebula-ui":
    focusMode: false
    hideSingleTab: false
  "one-light-ui": {}
  "seti-syntax":
    themeColor: "Purple"
  "seti-ui":
    compactView: true
    hideDocumentTitle: true
    hideProjectTab: true
    hideTitleBar: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 200
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 200
    smoothScrollOnMiniScroll: true
    smoothScrollOnRedrawCursorLine: true
    smoothScrollOnRedrawCursorLineDuration: 200
  "vim-mode-plus-move-selected-text": {}
  welcome:
    showOnStartup: false
".source.yaml":
  editor:
    autoIndentOnPaste: false
