packages: [
  "atom-esdoc"
  "atom-ide-ui"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-mermaid"
  "atom-ternjs"
  "atom-typescript"
  "autocomplete-paths"
  "blame"
  "bracket-padder"
  "busy-signal"
  "diagrams"
  "docker"
  "ex-mode"
  "file-icons"
  "firewatch-syntax"
  "git-plus"
  "go-plus"
  "golden-ratio"
  "gotests"
  "hyperclick"
  "ide-json"
  "ide-reason"
  "ide-rust"
  "ide-yaml"
  "intentions"
  "json-schema"
  "kite"
  "language-cassandra-cql"
  "language-docker"
  "language-dot"
  "language-fish-shell"
  "language-javascript-jxa"
  "language-mermaid"
  "language-ocaml"
  "language-plantuml"
  "language-protobuf"
  "language-reason"
  "language-rust"
  "language-terraform"
  "language-tpl"
  "linter"
  "linter-eslint"
  "linter-terraform-syntax"
  "linter-ui-default"
  "linter-xo"
  "manage-packages"
  "nebula-syntax"
  "nebula-ui"
  "npm-outdated"
  "nyan-indent"
  "pretty-json"
  "reason-refmt"
  "revert-buffer"
  "script"
  "seti-syntax"
  "seti-ui"
  "soft-era-syntax"
  "TabNine"
  "teletype"
  "terraform-fmt"
  "tidy-markdown"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "vim-mode-plus-move-selected-text"
  "you-complete-me"
]
